@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #1D1E1B;
    box-shadow: inset 0px 0px 20px 0px black;
}

header h1 {
    text-align: center;
    padding: 5px;
    color: white;
    font-variant: small-caps;
    font-size: 1.5em;
}

section h1 {
    text-align: center;
    padding-top: 40px;
    min-height: 60vh;
    color: white;
    font-size: 3em;
}

section p {
    max-width: 85%;
    padding: 10px;
    line-height: 1.6;
    margin: 15px auto;
    border-radius: 5px;
    background-color: #F1F2F2;
}

h2 {
    text-align: center;
    padding-top: 15px;
    font-size: 2em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.100);
}

h3 {
    font-size: 3em;
    text-align: center;
    padding-top: 10px;
    min-height: 30vh;
    color: white;
    font-variant: small-caps;
}

.borda {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

span {
    border: 5px solid white;
}

.imagem {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

#img01 {
    background-image: url('imagens/terra02.jpg');
}

#img02 {
    background-image: url('imagens/mercurio.jpeg');
}

#img03 {
    background-image: url('imagens/sol.jpg');
}

#img04 {
    background-image: url('imagens/venus.jpg');
}

#img05 {
    background-image: url('imagens/terra.jpg');
}

#img06 {
    background-image: url('imagens/marte.jpg');
}

#img07 {
    background-image: url('imagens/jupiter.webp');
}

#img08 {
    background-image: url('imagens/saturno.jpg');
}

#img09 {
    background-image: url('imagens/urano.jpg');
}

#img10 {
    background-image: url('imagens/netuno.jpg');
}

img {
    display: block;
    margin: auto;
    padding: 10px 0px;
    max-width: 100%;
}

footer {
    background-color: #1D1E1B;
    box-shadow: inset 0px 0px 20px 0px black;
    color: white;
    padding: 5px;
    text-align: center;
}